//$dropmenu-bg: green;
//$light-color: blue;

// color tool definitions
// see https://material.io/tools/color/#!/?view.left=0&view.right=0&primary.color=43A047&secondary.color=757575
$primary-color: #43a047;
$primary-color-light: #76d275;
$primary-color-dark: #00701a;

$secondary-color: #757575;
$secondary-color-light: #a4a4a4;
$secondary-color-dark: #494949;

$text-on-primary-color: #000000;
$text-on-secondary-color: #FFFFFF;

$navbar-color: $primary-color;
$mobile-color-main: $text-on-primary-color;
